{
  CIDER: {
    cider_version: "0.43.0",
    dependencies: {
      nuget: "nuget-dependencies",
      tatin: "tatin-dependencies",
    },
    dependencies_dev: {
      tatin: "tatin-dependencies_dev",
    },
    distributionFolder: "Dist",
    init: "",
    make: "Admin.MakeRelease",
    parent: "#",
    projectSpace: "TinyTest",
    project_url: "",
    source: "APLSource",
    tests: "(API.Run Admin.Tests)",
  },
  LINK: {
  },
  SYSVARS: {
    io: 1,
    ml: 1,
  },
  USER: {
  },
}
